/* popup.css: 팝업 UI 스타일 */
body {
  min-width: 400px;
  padding: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;  /*팝업 높이 조정*/
}

.container {
  text-align: center;
}

.greeting {
  font-size: 18px;
  margin-bottom: 10px;
}

.brand {
  color: #87cefa; /* 하늘색 */
  font-weight:bold;
}

.description {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 1.4;
}

#summarizeBtn {
  background-color: #87cefa; /* 하늘색 */
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;

}

#summarizeBtn:hover {
  background-color: #57afe6; /* 버튼 hover 시 조금 더 진한 하늘색 */
  color: white;
}
